.footer {
  .bgFooter-top {
    background-color: #692d1a;
    height: 50%;
    img {
      height: 10vh;
      width: 95%;
      border: 2px dashed #feded8;
      border-top: none;
    }
  }
}
.bgFooter-bot {
  height: 8.5vh;
  background-color: #692d1a;
}
