.game {
  background-color: var(--brown-color);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.gameboard {
  border: 2px dashed var(--border-color);
  border-radius: 15px 15px 0 0;
  background-color: var(--primary-color);
  width: 95vw;
  max-height: 86vh;
  margin-top: 5rem;
  font-size: 2rem;
  .endgame-container {
    position: relative;
    top: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .button-view-ranking {
      padding: 3rem 15rem;
      background: #b1c188;
      background-image: linear-gradient(
        to left,
        transparent,
        transparent 50%,
        #f0a30a 50%,
        #f0a30a
      );
      background-position: 100% 0;
      background-size: 200% 100%;
      transition: 0.8s;
      cursor: pointer;
      color: #e7d1b2;
      text-shadow: 2px 2px 0px #563f3b;
      text-transform: uppercase;
      font-family: "Kanit", sans-serif;
      font-size: 3rem;
      font-weight: 700;
    }

    .button-view-ranking:hover {
      background-position: 0 0;
      transition: 0.8s;
    }
    figcaption {
      font-weight: bold;
      margin-top: 5rem;
    }
  }

  .image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    .img-foods {
      width: 28rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
    .img-foods:hover {
      transform: scale(1.1);
    }
    .image-food-0,
    .image-food-1 {
      &.selected {
        transform: scale(1.3);
        pointer-events: none;
      }
      &.voted {
        filter: grayscale(100%);
        pointer-events: none;
      }
    }
  }
  .bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .versus {
      margin-bottom: 3rem;
      width: 20rem;
    }
    .next-button {
      border: none;
      font-family: "Wendy One", sans-serif;
      color: #ffa01b;
      cursor: pointer;
      position: relative;
      text-shadow: -6px 6px 0 #e8476a, -9px 9px 0 purple;
      font-size: 6vmin;
    }
    .next-button:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      bottom: -10px;
      left: -4px;
      transform: scaleX(0);
      box-shadow: 0 5px 0 #e8476a, 0 10px 0 purple;
      background: #ffa01b;
      transform-origin: bottom right;
      transition: transform 0.5s ease-out;
    }

    .next-button:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  @media screen and (max-width: 768px) {
    .image-container {
      .img-foods {
        width: 20rem;
        margin-top: 10rem;
      }
    }
    .endgame-container {
      .button-view-ranking {
        padding: 3rem 10%;
      }
    }
    .bottom-container {
      .versus {
        width: 10rem;
      }
    }
  }
}
