.home {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  background-color: #692d1a;
  .inside-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95vw;
    height: 90vh;
    border-radius: 15px 15px 0 0;

    background-color: #ffcfc6;

    .button-home {
      padding: 3rem 15rem;
      background: #b1c188;
      background-image: linear-gradient(
        to left,
        transparent,
        transparent 50%,
        #f0a30a 50%,
        #f0a30a
      );
      background-position: 100% 0;
      background-size: 200% 100%;
      transition: 0.8s;
      cursor: pointer;
      color: #e7d1b2;
      text-shadow: 2px 2px 0px #563f3b;
      text-transform: uppercase;
      font-family: "Kanit", sans-serif;
      font-size: 3rem;
      font-weight: 700;
    }

    .button-home:hover {
      background-position: 0 0;
      transition: 0.8s;
    }
  }
}
