.updateForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40vh;
  padding: 10rem;
  background-color: #ffcfc6;
  @media screen and (max-width: 768px) {
    padding: 3rem 2rem;
  }
  h2 {
    font-size: 5rem;
  }
  .update-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
  button {
    font-size: 1.5rem;
  }
}
